{% extends "layout.html" %}

{% block content %}
<table>
    <tr class="row">
        <th class="col col-lg-4 col-md-4">Title</th>
        <th class="col col-lg-4 col-md-4">Artist</th>
        <th class="col col-lg-4 col-md-4">Date</th>
    </tr>

    {% for song in songs %}
        <tr class="row">
            <td class="col col-lg-4 col-md-4">{{ song.title }}</td>
            <td class="col col-lg-4 col-md-4">{{ song.artist }}</td>
            <td class="col col-lg-4 col-md-4">{{ song.composition_date }}</td>
            <!-- <a href="{% url 'songs:update' pk=song.pk %}">Edit</a> -->
        </tr>
    {% endfor %}

</table>

{% endblock %}
